{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>User Management</h2>
    <a href="{{ url_for('admin.add_user') }}" class="btn btn-primary mb-2">Add User</a>
   <!-- Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
                <td>
                    <a href="{{ url_for('admin.edit_user', user_id=user[0]) }}" class="btn btn-info btn-sm">Edit</a>
                    <form method="POST" action="{{ url_for('admin.admin_dashboard') }}" style="display:inline;">
                        <input type="hidden" name="user_id" value="{{ user[0] }}">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
